---
import type { Translations } from '../i18n/translations';

interface Props {
  t: Translations;
}

const { t } = Astro.props;
---

<div class="strip">
  {t.s1.map((label, i) => (
    <div class="strip-item">
      <span class="strip-num">{t.s1vals[i]}</span>
      <span class="strip-label">{label}</span>
    </div>
  ))}
</div>
